# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# webstorm
/koa-app/.idea
/react-app/.idea

# dependencies
/node_modules
/koa-app/node_modules
/koa-app/dist
/react-app/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
# react build category
/Grow-react/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
koa-app/scripts/wakatime/__pycache__/db.cpython-37.pyc
