// mian
$main-font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
$box-shadow: 0 2px 8px #f0f1f2;

// chart
$chart-label: rgba(0, 0, 0, .85);

// border
$border-color: rgba(0, 0, 0, .15);

$bck-color: #202124;
$gray: #bdc1c6;
$ftc-gray: rgba(0, 0, 0, .85);
$vlone: #ef613e;

