@import '@/common.scss';

.homeBox {
    .home-con {
        background: {
            color: #ffffff;
        }
        .dash-content {
            margin: 10px auto;
            width: 90%;
            background: {
                color: #ffffff;
            }
        }
    }
}