@import '@/common.scss';

.main {
    .layout {
        background: {
            color: #ffffff;
        }
        .content {
            margin: 10px auto;
            width: 100%;
            padding: 0 50px;
            background: {
                color: #ffffff;
            }
        }
    }

    // antd change style
    .ant-select {
        font: {
            size: 12px;
        };
    }
}

// 适配 mac 11 寸分辨率 antd
.mac {
    // statistics currnet
    .ant-statistic-content-value-int {
        font-size: 16px;
    }
    // statistics suffix 后缀
    .ant-statistic-content-suffix {
        font-size: 12px;
    }
}