// 定义公用样式类型
$box-shadow: 0 2px 8px #f0f1f2;
$blackBack: #202124;

// chart
$chart-label: rgba(0, 0, 0, .85);

// border
$border-color: rgba(0, 0, 0, .15);

// robot-font
$robotFont: "Roboto Mono",monospace;

// font-color
$bck-color: #202124;
$gray: #bdc1c6;
$ftc-gray: rgba(0, 0, 0, .85);
$error: #f5222d;
$vlone: #ef613e;
$blue: #1890ff;
$green: #52c41a;

@mixin ow-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}
