$text: rgba(0, 0, 0, .85);

.chartBar {
    padding: 10px 10px 10px 0;
    .charBarTitle {
        padding-left: 20px;
        font-weight: 600;
        color: $text;
    }

    .chartBarBox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;

        // height 24
        .addRecordBtn {
            margin: 0 10px 0 0;

            &.rotate {
                transform: rotate(45deg);
            }
        }

        .normalizeBtn {
            margin: 0 10px 0 0;
        }

        .selectorPicker {
            margin: 0 10px 0 0;

            .ant-select-selection-selected-value {
                font-size: 12px;
            }
        }

        .rangePicker {
            margin: 0 10px 0 0;

            // antd
            .ant-calendar-range-picker-input {
                font-size: 12px;
            }
        }

        // height 22
        .chartSwitch {
            margin: 1px 10px 0 0;
        }
    }
}

// antd
.addPopoverDialog {
    .submitItem {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .ant-form-item {
        margin-bottom: 8px;
    }
}