$text: rgba(0, 0, 0, .85);

.chartBar {
    padding: 10px 30px 10px 0;
    .charBarTitle {
        padding-left: 20px;
        font-weight: 600;
        color: $text;
    }

    .chartBarBox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;

        .rangePiacker {
            margin: 0 20px 0 0;

            // antd
            .ant-calendar-range-picker-input {
                font-size: 12px;
            }
        }
    }
}