@import '@/common.scss';

.dashboard {
    .dailyChartView {
        height: 540px;
        margin: 20px 0;
        box-sizing: border-box;
        .goalListView {
            .goalBox {
                .goal-item {
                    overflow: hidden;
                    width: 96%;
                    margin-bottom: 16px;
                    border-radius: 6px;
                    border: 1px solid #f5f5f5;
                    font: {
                        size: 12px;
                    }
                    background: #ffffff;

                    &.isOn {
                        .ant-collapse-header {
                            color: $blue;
                        } 
                    }

                    &.active {
                        box-shadow: $box-shadow;

                        .ant-collapse-header {
                            font-weight: bold;
                        }
                    }

                    &.ow {
                        .ant-collapse-header {
                            @include ow-text;
                        }
                    }
                    // 进度条信息
                    .progeress {
                        .icon {
                            display: inline-block;
                            height: 24px;
                            width: 24px;
                            &.shoes {
                                background: {
                                    image: url(../../assets/shoes.png);
                                };
                            }
                            &.airClear {
                                background: {
                                    image: url(../../assets/air-clear.png);
                                };
                            }

                            &.T-shirt {
                                background: {
                                    image: url(../../assets/shirts.png);
                                };
                            }
                        }

                        .value {
                            line-height: 24px;
                        }
                    }

                    .price {
                        .end {
                            text-align: end;
                        }
                    }
                    
                    .date {
                        margin: 10px 0;
                        .label {
                            font-weight: bold;
                            color:raba(0,0,0,.85);
                        }

                        .value {
                            text-align: end;
                        }
                    }

                    .funcBox {
                        .link {
                            text-align: end;
                        }
                    }
                }
            }
        }

        .dailyListView {
            .dailyChartBox {
                width: 100%;
            }
            .dailyTableBox {
                height: 460px;
                padding: 0 20px 0 0;
                .ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td {
                    padding: 10px 8px;
                    word-break: break-word;
                }
            }
        }
        .dailySumView {
            .dailySumBox {
                padding: 20px;
                box-shadow: $box-shadow;
                .dailySumItem {
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    .dailySumTitle {
                        font-family: "Roboto Mono",monospace;
                    }
                    .dailySumLabel {
                        text-align: end;
                    }
                }
            }
        }
    }

    .programView {
        min-height: 500px;;
        margin: 20px 0;
        box-sizing: border-box;
        .sumView {
            max-height: 550px;
            padding: 0 0 0 20px;
            overflow-y: auto;
            // antd
            .ant-list-item-meta-description {
                font: {
                    size: 12px;
                    family: "Roboto Mono", monospace;
                };
            }
        }
    }

    .focusView {
        margin: 20px 0;
        box-sizing: border-box;
        .focus-empty {
            padding-left: 70px;
        }
    }
}
