@import '@/common.scss';

.flow-footer {
    height: 114px;
    &.ant-layout-footer {
        background: #000000;
    }

    .footer-seprator {
        .ant-divider-inner-text {
            color: $gray;
            font-family: $robotFont;
        }
    }

    .main-footer {
        .cm {
            padding: 10px;
            .title {
                color: #fff;
                margin: 0 auto 24px;
                font-weight: 500;
                font-size: 16px;
            }
            &.mid {
                border-left: 1px solid $gray;
                border-right: 1px solid $gray;
            }
        }

        .ft-item {
            color: rgba(255, 255, 255, 0.4);
            .ft-seperator {
                margin: {
                    right: 0.5em;
                }
            }
            .ft-label {
                font-size: 12px;
            }
        }
    }
}