@import "@/common.scss";

.homepage {
  .focusView {
    margin: 30px 0;
    box-sizing: border-box;
    .focus-empty {
      padding-left: 70px;
      .bold {
        padding: 0 2px;
        font-weight: bold;
      }
      .add {
        margin-right: 3px;
        line-height: 24px;
        font-size: 12px;
      }
    }

    .card {
      border-radius: 8px;
      height: 150px;
      .dark {
        color: rgba(0, 0, 0, 0.65);
        padding: 0 3px;
        &:hover {
          color: $blue;
        }
      }
      .start {
        font-size: 12px;
      }
      .ant-card-body {
        padding: 12px 12px 0 12px;
      }
      .details {
        max-height: 54px;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }
    }
  }
  .triviaView {
    .trivia-empty {
      padding-left: 70px;
      .bold {
        padding: 0 2px;
        font-weight: bold;
      }
      .add {
        margin-right: 3px;
        line-height: 24px;
        font-size: 12px;
      }
    }
    .headerBar {
      margin-bottom: 20px;
      .triviaSelect {
        width: 160px;
      }
    }
    .list {
      .card {
        border-radius: 8px;
        .name {
          .label {
            padding: 2px 5px;
            text-transform: capitalize;
            border-radius: 3px;
            color: #fff;
          }
          .btn-box {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-end;
            .dark {
              color: rgba(0, 0, 0, 0.65);
              padding: 0 3px;
              &:hover {
                color: $blue;
              }
            }
          }
        }
        .details {
          height: 138px;
          margin-top: 8px;
          overflow: auto;
          text-indent: 12px;
          font-size: 12px;
          white-space: pre-line;
          &:first-letter {
            font-size: 16px;
          }
          // antd
          .ant-typography-copy {
            text-indent: 0;
          }
        }
        .footer {
          .message {
            color: $blue;
            font-size: 12px;
          }
        }
      }
    }
  }
}

// focus module
.drawer,
.triviaDrawer {
  .content {
    .ant-form-item {
      margin-bottom: 12px;
    }
    .header {
      position: relative;
      padding: 16px 24px 16px 0;
      color: rgba(0, 0, 0, 0.65);
      background: #fff;
      text-transform: capitalize;
      .title {
        display: inline-block;
        margin: 0;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        @include ow-text;
      }
      .priority {
        height: 20px;
        position: relative;
        top: 1px;
        margin-right: 6px;
        padding: 0 8px;
        line-height: 20px;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
      }
    }
    .show {
      font-size: 12px;
      p:last-child {
        margin-bottom: 0;
      }
      .func-box {
        height: 40px;
        line-break: 40px;
      }
      .details {
        white-space: pre-wrap;
      }
      .carousel {
        .display-image {
          width: 100%;
        }
      }
    }
    // select
    .groupSelect {
      .input {
        padding: 5px;
        .ant-input-group-addon {
          background: #fff;
          padding: 0 0 0 5px;
          border: none;
        }
      }
    }
  }
}
