.module-header {
    height: 26px;
    margin: 20px 0;
    line-height: 26px;
    border-bottom: 1px solid #e8e8e8;
    .text-box {
        .icon {
            padding-right: 3px;
        }
        .title {
            text-transform: capitalize;
            font: {
                size: 18px;
                weight: bold;
            }
        }
    }
    .func-box {
        .ant-btn-link {
            font-size: 12px;
        }
    }
}